<!DOCTYPE html>
<html>
<head>
    <title>Cloud Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="chat-container">
    <h2>☁️ Cloud AI Chatbot</h2>
<p class="subtitle">
    Ask me about Cloud, AWS, Python and DevOps
</p>

    <div id="chat-box"></div>

    <input type="text" id="user-input" placeholder="Type message..." onkeypress="handleKey(event)">
    <button onclick="sendMessage()">Send</button>
</div>

<script>
    function handleKey(event) {
    if (event.key === "Enter") {
        sendMessage();
    }
}
function sendMessage() {
    let input = document.getElementById("user-input").value;

    fetch(`/get?msg=${input}`)
    .then(response => response.json())
    .then(data => {
    let chatBox = document.getElementById("chat-box");

    chatBox.innerHTML += `
    <div style="text-align:right; margin:10px;">
        <span style="background:#007bff; color:white; padding:8px 12px; border-radius:10px; display:inline-block;">
            ${input}
        </span>
    </div>
    `;

    chatBox.innerHTML += `
    <div id="typing" style="color:gray; margin:10px;">
        Bot is typing...
    </div>
    `;

    setTimeout(() => {

        document.getElementById("typing").remove();

        chatBox.innerHTML += `
        <div style="text-align:left; margin:10px;">
            <span style="background:#28a745; color:white; padding:8px 12px; border-radius:10px; display:inline-block;">
                ${data.response}
            </span>
        </div>
        `;

        chatBox.scrollTop = chatBox.scrollHeight;

    }, 1000);

    document.getElementById("user-input").value = "";

    chatBox.scrollTop = chatBox.scrollHeight;
});
}
</script>

</body>
</html>